<%- include("partials/header.ejs") %>

<div class="intro-section">
  <h1>Welcome to my page</h1>
  <img
    id="headshot"
    src="imgs/Mandisa_CV_picture_2024.JPG"
    alt="Mandisa Macleod CV picture 2024"
  />
  <p>I am a front-end developer based in Johannesburg, South Africa.</p>
  <p>
    I have been building cost-effective, maintainable websites for clients from
    initial design to live site for the last 4 years.
  </p>
  <p>
    While this was originally a part-time exploration in how to help good
    businesses better reach their customer-base, I am now fully committed to
    this career and am excited to be using my skillset to build solutions to
    real-life problems.
  </p>
</div>
<h2>Featured Projects</h2>
<div class="project-list">
  <div class="project-item">
    <img
      class="project-preview-img"
      src="imgs/film_sa.png"
      alt="Landing Page of Film SA"
    />
    <p>2023 · Personal</p>
    <h3>Film SA</h3>
    <div class="tech-list">
      <p class="tech-list-item">HTML</p>
      <p class="tech-list-item">CSS</p>
      <p class="tech-list-item">JavaScript</p>
    </div>
    <p>
      A fictional website placing South African film-related resources at your
      fingertips. Optimistic in making this resource a reality.
    </p>
  </div>

  <div class="project-item">
    <img
      class="project-preview-img"
      src="imgs/film_sa.png"
      alt="Landing Page of Film SA"
    />
    <p>2023 · Personal</p>
    <h3>Film SA</h3>
    <div class="tech-list">
      <p class="tech-list-item">HTML</p>
      <p class="tech-list-item">CSS</p>
      <p class="tech-list-item">JavaScript</p>
    </div>
    <p>
      A prototype website placing South African film-related resources at your
      fingertips. Optimistic in making this resource a reality.
    </p>
  </div>
</div>

<%- include("partials/footer.ejs") %>
