<%- include("partials/header.ejs") %>

<div class="intro-section">
  <h1>Welcome</h1>
  <img
    id="headshot"
    src="imgs/Mandisa_CV_picture_2024.JPG"
    alt="Mandisa Macleod CV picture 2024"
  />
  <p>
    I am a creative and detail-oriented front-end developer based in
    Johannesburg, South Africa.
  </p>
  <p>
    I have been building cost-effective, maintainable websites for clients from
    initial design to live site for the last 4 years.
  </p>
  <p>
    I hold a BA Honours in Motion Picture Medium with a major in Cinematography,
    and spent my first professional decade as a freelance camera technician in
    the film and advertising industry. While programming was originally a
    part-time several-year-long exploration in how to help good businesses
    better reach their customer-base, I am now fully committed to this career
    and am excited to be using my skillset to build solutions to real-life
    problems within my community.
  </p>
</div>
<h2>Featured Projects</h2>
<div class="project-list">
  <!-- ALL THINGS EMBROIDERY -->

  <div class="project-item">
    <a href="ate/views/index.ejs" target="_blank">
      <img
        class="project-preview-img"
        src="imgs/ate-feature-img.png"
        alt="Landing Page of All Things Embroidery"
    /></a>
    <p>2024 路 Personal</p>
    <h3>All Things Embroidery</h3>
    <div class="tech-list">
      <p class="tech-list-item">Embedded Javascript</p>
      <p class="tech-list-item">CSS</p>
      <p class="tech-list-item">JavaScript</p>
      <p class="tech-list-item">Bootstrap</p>
      <p class="tech-list-item">Canva</p>
      <p class="tech-list-item">Node.js</p>
      <p class="tech-list-item">Express.js</p>
    </div>
    <p>
      A fictional blogging website where the author can share tips, tricks and
      stories about their new hobby.
    </p>
  </div>

  <!-- FILM SA -->

  <div class="project-item">
    <a href="film_sa/index.html" target="_blank">
      <img
        class="project-preview-img"
        src="imgs/film_sa.png"
        alt="Landing Page of Film SA"
    /></a>
    <p>2023 路 Personal</p>
    <a href="film_sa/index.html" target="_blank"><h3>Film SA</h3></a>
    <div class="tech-list">
      <p class="tech-list-item">HTML</p>
      <p class="tech-list-item">CSS</p>
      <p class="tech-list-item">JavaScript</p>
    </div>
    <p>
      A prototype website placing South African film-related resources at your
      fingertips. Optimistic in making this resource a reality.
    </p>
  </div>

  <!-- MIRIAM ARNDT -->

  <div class="project-item">
    <a href="http://www.miriamarndt.com/" target="_blank">
      <img
        class="project-preview-img"
        src="imgs/miriam-arndt-feature-img.png"
        alt="Landing Page of Film SA"
    /></a>
    <p>2023 路 Client</p>
    <a href="http://www.miriamarndt.com/" target="_blank">
      <h3>Miriam Arndt | Freelance Video Editor</h3></a
    >
    <div class="tech-list">
      <p class="tech-list-item">Wix Editor</p>
    </div>
    <p>
      A portfolio webpage built for Johannesburg-based video editor Miriam
      Arndt.
    </p>
    <p>
      Though this website was completely built from scratch, Wix was used
      becausee the client was already familiar and comfortable with the Wix
      ecosystem, and wanted to be able to make small changes and updates
      themselves.
    </p>
  </div>

  <!-- CODEVERSE -->

  <div class="project-item">
    <a href="http://www.codeverse.co.uk/" target="_blank">
      <img
        class="project-preview-img"
        src="imgs/codeverse-co-uk-feature-img.png"
        alt="Landing Page of Film SA"
    /></a>
    <p>2022 路 Client</p>
    <a href="http://www.codeverse.co.uk/" target="_blank">
      <h3>CodeVerse</h3></a
    >
    <div class="tech-list">
      <p class="tech-list-item">Wix Editor</p>
    </div>
    <p>
      I was part of a team that built a webpage for CodeVerse, an organisation
      focused on identifying, upskilling and deploying high potential
      technologists from underrepresented communities.
    </p>
    <p>
      Wix was chosen to allow client to easily maintain and update the website
      themselves.
    </p>
  </div>
</div>

<%- include("partials/footer.ejs") %>
