<html lang="en-UK">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=WindSong:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <title>All Things Embroidery</title>
    <link rel="icon" type="image/x-icon" href="/images/ATE-favicon-2.png" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"
            ><img id="logo-header" src="/images/ATE-favicon-2.png" alt="logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts">POSTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <script>
        const activePage = window.location.pathname;

        const navLinks = document.getElementsByClassName("nav-link");

        //Turn this HTML Collection into an array with the spread operator
        const navLinksArray = [...navLinks];

        navLinksArray.forEach((link) => {
          if (link.pathname === activePage) {
            link.classList.add("active");
          }
        });
      </script>
      <!-- Save without formatting to avoid erroneous closing brackets and closing tags being added -->
      <!-- Command + K S -->
    </main>
  </body>
</html>
