<%- include("partials/header.ejs") %>

<div class="container-fluid heading-box">
  <div class="row align-items-center">
    <div class="col">
      <h1>Contact Us</h1>
    </div>
  </div>
</div>

<div class="container main-content">
  <div class="row">
    <div class="col-md">
      <h3>Address:</h3>
      <p>
        53 Troon Road, <br />
        Emmarentia, <br />
        Johannesburg
      </p>
      <h3>Phone:</h3>
      <p>+27 71 123 4567</p>
    </div>

    <!-- Google Maps  -->
    <div class="col-md-9">
      <div id="map"></div>

      <script src="/js/maps-scripts.js"></script>
      <script
        async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVnTi9f1S1s41BBasoNb6-EsHO0mpbw7U&callback=initMap"
      ></script>
    </div>
    <%- include("partials/footer.ejs") %>
  </div>
</div>
