<%- include("partials/header.ejs") %>

<div class="container-fluid heading-box">
  <div class="row align-items-center">
    <div class="col">
      <h1>Contact Us</h1>
    </div>
  </div>
</div>

<div class="container main-content">
  <div class="row">
    <div class="col-md">
      <h3>Address:</h3>
      <p>
        53 Troon Road, <br />
        Emmarentia, <br />
        Johannesburg
      </p>
      <h3>Phone:</h3>
      <p>+27 71 123 4567</p>
    </div>
    <div class="col-md">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581.223754936564!2d28.011141376696646!3d-26.156841362049224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950b7ea4d3a9c3%3A0x2f850150b3935c0e!2s53%20Troon%20Rd%2C%20Greenside%2C%20Johannesburg%2C%202034!5e0!3m2!1sen!2sza!4v1731654793213!5m2!1sen!2sza"
        class="google-maps"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
