<%- include("partials/header.ejs") %>
<div class="container main-content">
  <div class="row align-items-center">
    <div class="col-lg-8">
      <img
        id="logo-large"
        class="img-fluid mx-auto d-block"
        src="images/ATE-logo.png"
        alt="All Things Embroidery Logo"
      />
    </div>
    <div class="col-lg-4">
      <h1>Welcome</h1>
      <p>
        This page serves a vibrant community based in Johannesburg, South
        Africa.
      </p>
      <p>
        It is dedicated to the sharing of knowledge and arranging in-person
        meetups.
      </p>
      <p>We are so happy to have you with us!</p>

      <a href="/posts" class="pink-btn">Go to Blogposts >> </a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
