body {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

header {
  background-color: #162e56;
  color: white;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Navbar */

nav {
  display: inline-flex;
  justify-content: space-between;
}

nav h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav ul {
  list-style: none;
  margin: 10px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: block;
  padding: 8px;

  color: white;
}

.intro-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}

/* Imgs */

#headshot {
  height: 15em;
  width: auto;
  border-radius: 50%;
  align-self: center;
}

/* Project preview */
.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  height: 100%;
  width: 47%;
  border: 2px solid #f6f6f6;
  border-radius: 10px;
  padding: 10px;
}

.project-preview-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech-list-item {
  display: inline-block;
  border: 3px solid #efeff0;
  border-radius: 20px;
  padding: 7px;
  margin: 1px;
  width: max-content;
}

footer {
  margin: 20px auto;
}

/* breakpoints */

@media only screen and (max-width: 800px) {
  .project-item {
    width: 100%;
  }
}
