<%- include("partials/header.ejs") %>

<div class="container-fluid heading-box">
  <div class="row align-items-center">
    <div class="col">
      <h1>About</h1>
    </div>
  </div>
</div>

<div class="container main-content">
  <div class="row">
    <div class="col-lg">
      <p>Hi! I am Mandisa.</p>
      <p>
        I am 35 years old, and live in Johannesburg, South Africa. I am a wife,
        and delighted mother of two little boys.
      </p>
      <p>
        During my most recent maternity leave, while also poising myself to make
        a career transition into software development, I found myself with long
        stretches of time being trapped under a sleeping newborn, laptop just
        out of reach or myself in too strange a position to properly use it,
        with my hands idle.
      </p>
      <p>
        Thinking of the small heap of “I’ll-get-to-mending-this-sometime”
        clothes in my wardrobe close-by, I suddenly resented the fact that I
        lacked the skillset to adequately repair all those holey socks, ripped
        seams and small tears in these textiles too precious to discard.
      </p>

      <p>
        I had always loved the concept of Kintsugi - the Japanese art of
        repairing broken ceramics with gold, in the process elevating the
        repaired item to a higher quality than before its breakage.
      </p>
      <p>
        I wanted to experiment with applying the same sentiment to textiles. And
        so my journey began.
      </p>
      <p>
        I hope you find the stories, advice and tips here enjoyable and useful.
      </p>
      <p>
        But most of all,
        <span class="emphasize"
          >we hope to see you at our next embroidery circle!</span
        >
      </p>
      <p class="signature">- Mandisa</p>
    </div>
    <div class="col-lg">
      <img
        src="/images/baby_embroidery.jpeg"
        alt="baby on blanket next to an embroidery project in progress"
        class="feature"
      />
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
